%h2 Your Profile

%p * E-mail notifications

%h3 Your groups
#groups
  - for group in @user.groups
    = render :partial => 'groups/group', :locals => { :group => group }

= form_tag user_groups_url, :method => :post, :remote => :true, :id => 'group_form' do
  = text_field_tag :group_name, params[:group_name]
  = submit_tag 'Create Group'

%h3 Your friends
%p * Invite friend
