.restaurant_listing.ui-state-default.ui-corner-all{:id => "listing-#{listing.id}"}
  %span{:class => 'ui-icon ui-icon-triangle-1-e', :style => 'float: left; padding: 1px'}
  = restaurant.name
  -# = link_to 'comment', ''
  %span{:style => 'float: right'}
    = form_tag user_group_list_listing_url(:user_id => @user.id, :group_id => @group.id, :id => listing.id), :remote => :true, :method => :delete do
      = submit_tag '', :style => "border: none", :class => 'ui-icon ui-icon-circle-close'
