.group_listing{:id => "group-#{group.id}"}
  = link_to group.name, user_group_url(:id => group.id)
  %span{:style => 'float: right'}
    = form_tag user_group_url(:user_id => @user.id, :id => group.id), :remote => :true, :method => :delete do
      = submit_tag '', :style => "border: none", :class => 'ui-icon ui-icon-circle-close'
