.group_listing.ui-state-default.ui-corner-all{:id => "group-#{group.id}"}
  %span{:class => 'ui-icon ui-icon-triangle-1-e', :style => 'float: left; padding: 1px'}
  = link_to group.name, user_group_url(:id => group.id)
  %span{:style => 'float: right'}
    = form_tag user_group_url(:user_id => @user.id, :id => group.id), :remote => :true, :method => :delete do
      = submit_tag '', :style => "border: none", :class => 'ui-icon ui-icon-circle-close'
