%table.tablesorter#simple_table
  %thead{:style => "display: none"}
    %tr
      %th Name
      %th Website
      %th{:style => "width: 50px"} Rating
      %th{:style => "width: 60px"} Reviews
      %th{:style => "width: 70px"} Take Out?
      %th{:style => "width: 65px"} Delivery?
  %tbody
