%table.tablesorter#results_table
  %thead{:style => "display: none"}
    %tr
      %th Rank
      %th Name
      %th Website
      %th Rating
      %th Reviews
      %th Take Out?
      %th Delivery?
  %tbody
