!!!
%html
  %head
    = stylesheet_link_tag :all
    :css
      #map_canvas {
        width: 500px;
        height: 500px;
        margin: auto;
      }
      h1#title {
        text-align: center;
        margin-bottom: 30px;
      }
      #navbar {
        text-align: center;
        width: 500px;
      }
      #restaurant_table{
        margin: 10px auto;
      }
      #search {
        padding: 10px;
        text-align: center;
      }
      .centered {
        width: 800px;
        margin: 0 auto;
      }
      .comment {
        color: grey;
        padding-left: 20px;
      }
    = javascript_include_tag :all

  %body
    %h1#title= link_to 'Most Munchable', root_url
    #navbar
      Login
    =yield
